{% load static %}
<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
        <div class="mb-2 mb-md-0">
            Only For
            <a href="https://jkassociates.com.bd" target="_blank" class="footer-link fw-bolder">JK Associates</a>
        </div>

    </div>
</footer>
<script src="{% static 'vendor/libs/jquery/jquery.js' %}"></script>
<script src="{% static 'vendor/libs/popper/popper.js' %}"></script>
<script src="{% static 'vendor/js/bootstrap.js' %}"></script>
<script src="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
<script src="{% static 'vendor/js/menu.js' %}"></script>
<script src="{% static 'vendor/libs/apex-charts/apexcharts.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/dashboards-analytics.js' %}"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="{% static 'vendor/libs/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendor/libs/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'js/pages-account-settings-account.js' %}"></script>
<script src="{% static 'js/ui-modals.js' %}"></script>

<script>
    $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
        });
    });
</script>