{% load static %}
<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
>
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>My Team | JK Associates</title>
    <meta name="description" content=""/>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}"/>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->

        {% include 'authentication/sidebar.html' %}

        <!-- Layout container -->
        <div class="layout-page">
            {% include 'authentication/header.html' %}

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->

                <div class="container">
                    <h5 class="card-header">My Team</h5>
                    <div class="card">
                        <div class="card-header">
                            <button class="btn rounded-pill btn-outline-primary" data-bs-toggle="modal"
                                    data-bs-target="#addTeam">
                                <i class="bx bx-plus-circle"></i> Add Team Member
                            </button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive text-nowrap">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Job Title</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Whatsapp</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-border-bottom-0">
                                    {% for team in teams %}
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>{{ team.user.get_full_name }}</td>
                                            <td>{{ team.job_title }}</td>
                                            <td>{{ team.email }}</td>
                                            <td>{{ team.phone }}</td>
                                            <td>{{ team.whatsapp }}</td>
                                            <td>
                                                <div class="dropdown">
                                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                                            data-bs-toggle="dropdown">
                                                        <i class="bx bx-dots-vertical-rounded"></i>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="#"
                                                        ><i class="bx bx-edit-alt me-1"></i> Edit</a
                                                        >
                                                        <a class="dropdown-item" href="#"
                                                        ><i class="bx bx-trash me-1"></i> Delete</a
                                                        >
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Footer -->
                {% include 'authentication/footer.html' %}
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <div class="modal fade" id="addTeam" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Add Team Member</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <form>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col mb-3">
                                <label for="nameBasic" class="form-label">Name</label>
                                <input type="text" id="nameBasic" class="form-control" placeholder="Enter Name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-3">
                                <label for="nameBasic" class="form-label">Designation</label>
                                <input type="text" id="nameBasic" class="form-control" placeholder="Enter Designation">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-3">
                                <label for="emailBasic" class="form-label">Email</label>
                                <input type="email" id="emailBasic" class="form-control"
                                       placeholder="xxxx@xxx.xx">
                            </div>
                            <div class="col mb-3">
                                <label for="phone" class="form-label">Phone</label>
                                <input type="text" id="nameBasic" class="form-control" placeholder="Phone">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-3">
                                <label for="nameBasic" class="form-label">Whatsapp</label>
                                <input type="text" id="nameBasic" class="form-control"
                                       placeholder="Enter Whatsapp">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Close
                        </button>
                        <button type="button" class="btn btn-primary">Add Team Member</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>
