<!DOCTYPE html>
{% load header_template_tags %}
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Confirmation Email</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap" rel="stylesheet">
    <!-- Main Css -->
    <!-- <link href="css/style.css" rel="stylesheet" type="text/css" /> -->
</head>

<body>
<!-- Hero Start -->
<div style="margin-top: 50px; background-color:#f2f2f2;">
    <br>
    <table cellpadding="0" cellspacing="0"
           style="font-family: Nunito, sans-serif; font-size: 15px; font-weight: 400; max-width: 600px; border: none; margin: 0 auto; border-radius: 6px; overflow: hidden; background-color: #fff; box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);">
        <thead>
        <tr style="padding: 3px 0; line-height: 68px; text-align: center; color: #fff; font-size: 24px; font-weight: 700; letter-spacing: 1px;">
            <th scope="col"><img align="center" border="0"
                                 src="https://i.ibb.co/Q8bqjFL/favicon-VAT.jpg"
                                 alt="Image" title="Image"
                                 style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: inline-block !important;border: none;float: none;"
                                 width="100px" height="100px"/></th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td style="padding: 24px 24px;">
                <div style="padding: 8px; color: #3fb5e4; background-color: rgba(63,228,195,0.2); border: 1px solid rgba(63,181,228,0.2); border-radius: 6px; text-align: center; font-size: 16px; font-weight: 600;">
                    Alert: You're upgrade your profile info.
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding: 0 24px 15px; color: #8492a6;">
                Dear {{ user.get_full_name }}, you upgrade your profile information.
            </td>
        </tr>


        <tr>
            <td style="padding: 15px 24px 0; color: #8492a6;">
                Thanks for choosing JK Associates. If you have any question feel free to contact with us or reply
                this email.
            </td>
        </tr>
        <tr>
            <td style="padding: 15px 24px;">
                <a href="https://{{ domain }}{% url 'authentication:dashboard' %}"
                   style="padding: 8px 20px; outline: none; text-decoration: none; font-size: 16px; letter-spacing: 0.5px; transition: all 0.3s; font-weight: 600; border-radius: 6px; background-color: #5f9ad6; border: 1px solid #5f9ad6; color: #ffffff;">
                    My Account</a>
            </td>
        </tr>

        <tr>
            <td style="padding: 15px 24px 15px; color: #8492a6;">
                JK Associates <br> Support Team
            </td>
        </tr>

        <tr>
            <td style="padding: 16px 8px; color: #ffffff; background-color: #3aaff0; text-align: center;">
                © JK Associates
            </td>
        </tr>
        </tbody>
    </table>
    <br>
</div>
<!-- Hero End -->
</body>
</html>